@import url("./a11yreset.css");
@import url("./animations.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

body {
  @apply bg-gray-50;

  font-family: "Rubik", sans-serif;
}

code {
  font-family: "JetBrains Mono", monospace;
}

main h1 {
  @apply text-3xl md:text-4xl;
}

main h2 {
  @apply text-2xl md:text-3xl;
}

main a {
  @apply underline underline-offset-4;
}