main code {

    font-size: 0.9375rem
}

main p, main ul li {

    font-size: 1.125rem;

    line-height: 1.75rem
}

main p code {

    border-radius: 0.125rem;

    --tw-bg-opacity: 1;

    background-color: hsl(0 0% 78% / var(--tw-bg-opacity));

    padding-left: 0.25rem;

    padding-right: 0.25rem;

    padding-top: 0.125rem;

    padding-bottom: 0.125rem;

    --tw-text-opacity: 1;

    color: hsl(0 0% 10% / var(--tw-text-opacity))
}

main ul > :not([hidden]) ~ :not([hidden]) {

    --tw-space-y-reverse: 0;

    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));

    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}