---
title: Peerference
description: Peer-to-peer video conferencing without signup
author: niconiahi
date: 2024-06-09
---

## The story

Google Meet alternative which allows you to call another person without signing up.

## Technical decisions

Coming soon...

## The code

Coming soon...
